* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
  background-color: #eafaff;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  min-height: 90vh;
  height: 100%;
}

#nav {
  padding: 12px;
  width: 100vw;
  display: inline-block
}
#nav-container {
  padding: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}
